@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@fortawesome/fontawesome-free/css/all.css";
/* Show sidebar content when hovering over the sidebar */
.sidebar-content.group:hover {
  display: block;
}
.gray {
  background-color: #bdbdbd;
}
.example-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.example-enter.example-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 1000ms ease-in-out, transform 1000ms ease-in-out;
}

.example-leave {
  opacity: 1;
  transform: translateX(0%);
}
.duration-2000 {
  transition-duration: 2000ms;
}
.mt-rem-38 {
  margin-top: 55rem;
}

.gray_new {
  background-color: #bdbdbd;
}
.mt-5-5 {
  margin-top: 1.4rem;
}

.h-60-rm {
  height: 45rem;
}
.h-65-rm {
  height: 80rem;
}

.h-30-rm {
  height: 35rem;
}

.yellow {
  background-color: #408EC6;
}
.sidebar-yellow {
  background-color: #408EC6; 
}
.red {
  background-color: #EA738DFF;
}
.sidebar-yellow:hover {
  background-color: #1E2761;
}
.root-container {
  height: 100vh; /* make the root container take up the full viewport height */
  display: flex;
  flex-direction: column;
  background-color: #1E2761;
}